In [162]:
import pandas as pd
import numpy as np

In [163]:
data = pd.read_csv('enjoySport.csv')
data

     sky air_temp humidity    wind water forecast enjoy_sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold     high  strong  warm   change          no
3  sunny     warm     high  strong  cool   change         yes

In [164]:
concepts = np.array(data)[:,:-1]
concepts

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change']],
      dtype=object)

In [165]:
label = np.array(data)[:,-1]
label

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [166]:
def cand(tar, con):
    specificH = con[0].copy()
    generalH = [["?" for i in range(len(specificH))] for i in range(len(specificH))]
    
    for i, val in enumerate(con):
        if tar[i] == 'Yes':   
            for j in range(len(specificH)):  
                if val[j] != specificH[j]:
                    specificH[j] = '?'
                    generalH[j][j] = '?'    

        if tar[i] == 'no':
            for j in range(len(specificH)):
                if val[j] != specificH[j]:  
                    generalH[j][j] = specificH[j];  
                else:
                    generalH[j][j] = '?'

                    
    indices = [i for i, val in enumerate(generalH) if val == ['?', '?', '?', '?', '?', '?']]
    for i in indices:
        generalH.remove(['?', '?', '?', '?', '?', '?'])                
    return specificH, generalH

In [167]:
s,g = cand(label,concepts)

In [168]:
s

array(['sunny', 'warm', 'normal', 'strong', 'warm', 'same'], dtype=object)

In [169]:
g

[['sunny', '?', '?', '?', '?', '?'],
 ['?', 'warm', '?', '?', '?', '?'],
 ['?', '?', 'normal', '?', '?', '?'],
 ['?', '?', '?', '?', '?', 'same']]

     sky air_temp humidity    wind water forecast enjoy_sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold     high  strong  warm   change          no
3  sunny     warm     high  strong  cool   change         yes